
body {
    background-color: white;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("photo/main-house.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;

}
.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    font-family: "Zen Kaku Gothic New", sans-serif;
}
div, ul, h1, p{
    margin: 0;
}

#hat {
    margin: 0;
    height: 81px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    display: flex;
    background-attachment: fixed;
}
#pine {
    margin: 14px 0 0 20px;
    width: 53px;
    height: 53px;
}
#buttons-space {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    gap: 2px;
    display:flex;
}
.button-hat {
    border: none;
    cursor: pointer;
    width: 27%;
    height: 81px;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
}
.button-hat:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#contacts{
    width: 25%;
    height: 61px;
    padding-top: 20px;
}
#question {
    width: 33px;
    height: 33px;
    margin-top: 7px;
    display: block;
}
#catalogue {
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: column;
}
#icons{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
#main-title {
    margin-top: 10em;
    text-align: center;
    vertical-align: center;
}
#main-title > h1{
    font-weight: 500;
    font-size:50px;
}

#buttons-space > button {
    font-size: 20px;
}



#main-line {
    width: 35em;
    height: 0.1em;
    background-color: white;
    margin-top:0.2em;
    margin: 0 auto;
    text-align: center; /* Центрирование текста внутри div */
    margin-bottom: 40em;
}

.separator {
    width: 100%;
    height: 99px;
    background-color: black;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 35px;
    border-radius:0 0 50px 50px;

}

#main-photo {
    background-color: white;
    height: 617px;

}
