
body {
    background-color: white;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("photo/main-house.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;

}
.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    font-family: "Zen Kaku Gothic New", sans-serif;
}
div, ul, h1, p{
    margin: 0;
}

#hat {
    margin: 0;
    height: 81px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    display: flex;
    background-attachment: fixed;
    position: fixed;
    transition: top 0.3s;
}
#pine {
    margin: 14px 0 0 20px;
    width: 53px;
    height: 53px;
}
#buttons-space {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    gap: 2px;
    display:flex;
}
.button-hat {
    border: none;
    cursor: pointer;
    width: 27%;
    height: 81px;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
}
.button-hat:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#contacts{
    width: 25%;
    height: 61px;
    padding-top: 20px;
}
#question {
    width: 37px;
    height: 37px;
    margin-top: 7px;
    display: block;
}
#catalogue {
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: column;
}
#icons{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
#main-title {
    padding-top:10em;
    text-align: center;
    vertical-align: center;
}
#main-title > h1{
    font-weight: 500;
    font-size:50px;
}

#buttons-space > button {
    font-size: 20px;
}

#main-line {
    width: 35em;
    height: 0.1em;
    background-color: white;
    margin-top:0.2em;
    margin: 0 auto;
    text-align: center; /* Центрирование текста внутри div */
    margin-bottom: 40em;
}
#main-photo > .separator {
    background-color: black;
}
.separator {
    width: 100%;
    height: 99px;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 35px;
    border-radius:0 0 50px 50px;
}

.block {
    background-color: white;
    height: 617px;
    position:relative;
}

#slides-main, #slides-room {

    padding-right: 10px;
    padding-left:10px;
    height: 478px;
    display:flex;
    transition: transform 0.45s ease-in-out;
    will-change: transform;
    width: calc(100% - 230px); /* оставляем место для кнопок или задаём точную ширину */
        /* прячет слайды вне видимой области */
    gap: 120px;
}

.photo img {
    height: 350px;
    width: 512px;

}

.photo {
    width: auto;
    height: 350px;


}

.slide{

  height: 100%;
  box-sizing: border-box;
  display: flex;

  align-items: center;

  min-width: 100%;
    gap:24px;

}

.block p {
    color: black;
    max-width: 50%;
    font-size: 30px;
}

.slider {
    display: flex;
    align-items: center; /* центр по высоте */
    width: 100%;
    overflow: hidden;
}



.btn{
    background-color: white;
    border-color: white;
    width:38px;
    height: 64px;
    box:shadow;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex; /* или inline-flex */
    vertical-align: center;
}

.btn img {
    width: 30px;
    height: 60px;
}
#prev, #prev-room {
    transform: scaleX(-1);
    margin-left: 5%;
}
#next, #next-room {
    margin-right: 5%;
}


.gaps {
    background-color:rgba(0,0,0,0.2);

}

#map-img {
    height: 500px;
    width: 500px;
}
.block-map {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap:30px;
    padding-left: calc(7.5%);
}