html {
  scroll-behavior: smooth;
}

body {
    background-color: white;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("photo/main-house.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

div, ul, h1, p{
    margin: 0;
}

#hat {
    margin: 0;
    height: 81px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 7;
    display: flex;
    background-attachment: fixed;
    position: fixed;
    transition: top 0.3s;
}

#pine {
    margin: 14px 0 0 20px;
    width: 53px;
    height: 53px;
}

#buttons-space {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    gap: 2px;
    display:flex;
}

.button-hat {
    border: none;
    cursor: pointer;
    width: 27%;
    height: 81px;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
}

.button-hat:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#contacts{
    width: 25%;
    height: 61px;
    padding-top: 20px;
}

#question {
    width: 37px;
    height: 37px;
    margin-top: 5px;
    display: block;
}

#catalogue {
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: column;
}

#icons{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#main-title {
    padding-top:10em;
    text-align: center;
    vertical-align: center;
}

#main-title > h1{
    font-weight: 500;
    font-size:50px;
}

#buttons-space > button {
    font-size: 20px;
}

#main-line {
    width: 35em;
    height: 0.1em;
    background-color: white;
    margin-top:0.2em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40em;
}

#main-photo > .separator {
    background-color: black;
}

.separator {
    width: 100%;
    height: 99px;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 35px;
    border-radius:0 0 50px 50px;
}

.block {
    background-color: white;
    height: 617px;
    position:relative;
}

#slides-main, #slides-room, #slides-feedbacks {
    padding-right: 10px;
    padding-left:10px;
    height: 478px;
    display:flex;
    transition: transform 0.45s ease-in-out;
    will-change: transform;
    width: calc(100% - 230px);
    gap: 120px;
}

.photo img {
    height: 350px;
    width: 512px;
}

.photo {
    width: auto;
    height: 350px;
}

.slide{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 100%;
    gap:24px;
    justify-content: center;
}

.block p {
    color: black;
    max-width: 50%;
    font-size: 30px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.btn{
    background-color: white;
    border-color: white;
    width:38px;
    height: 64px;
    box:shadow;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex; /* или inline-flex */
    vertical-align: center;
    z-index:5;
}

.btn img {
    width: 30px;
    height: 60px;
}

#prev, #prev-room, #prev-feedbacks {
    transform: scaleX(-1);
}

.gaps {
    background-color:rgba(0,0,0,0.2);
}

#map-img {
    height: 500px;
    width: 500px;
}

.block-map {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap:30px;
    padding-left: calc(7.5%);
}

#booking {
    height: 350px;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    border-radius:0;
    align-items:center;
    justify-content: center;
}

#book-button  {

    background-color: white;
    width:300px;
    height:100px;
    border-radius: 30px;
    align-items: center;

}

#book-button > p {
    width: 300px;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
}

#book-button>p:hover  {
    color: rgb(0,100,20);
}
#slides-feedbacks {
    padding-right: 10px;
    padding-left: 10px;
    height: 478px;
    display:flex;
    transition: transform 0.45s ease-in-out;
    will-change: transform;
    width: calc(100% - 300px);
    gap: 180px;
}

#reviews{
    background-color:white;
    height: 1100px;
}

#feedback-main-separator {
    display:flex;
    background-color:black;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    font-size: 35px;
    align-items: center;
}

.feedback {
    min-width: 400px;
    max-width: 400px;
    height: 500px;
    background-color: white;
    border-radius:20px;
    gap:100px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    flex: 0 0 calc((100% - 100px) ); /* 3 карточки с учётом gap */
    font-size: 25px;
}

.feedback .feedback-photo {
    width:400px;
    min-height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    display: flex;
    z-index: 0;
}

.feedback-separator {
    background-color:white;
    width:300px;
    height:2px;
    margin-top: 0;
}

.feedback  .name {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;    /* вертикаль */
    justify-content: center;
    text-align: center;
    min-width: 160px;
    min-height: 33px;
    max-height:33px;
    font-weight: 300;
}

.feedback-text > p {
    color: black;
    font-size: 20px;
    min-width: 390px;
    font-weight: 300;
    height:100px;
    margin-left:5px;

}
.feedback-text > p:hover {
    color: #003F0D;
}

.feedback-text{
    padding-top:5px;
    height: 100px;
}

.trapezoid {
    width: 200px;
    height: 40px;
    position: absolute;
    z-index: 0;
    margin-top: -1px;
}

.feedback-name-space {
    width: 200px;
    height:40px;
    display:flex;
    gap:60px;
    padding-bottom: 5px;
}

.stars {
    margin-top: 5px;
}

#bottom-separator {
    background-color:black;
    height: 3px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;

}

#location-text {
    font-size: 35px;
}

#review-button {
    width: 300px;
    height: 100px;
    margin-left: calc((100% - 400px)/2);
    margin-top: 100px;
}

#review-button{
  position: relative;
  overflow: hidden;         /* обрезать изображение по краям */
  display: inline-block;
  padding: 0;               /* текст внутри задаём через .btn-text */
  width: 400px;
  height: 120px;
  border: none;
  cursor: pointer;
  background: transparent;
    border-radius: 20px;
}

#review-button img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  z-index: 0;

}

#review-button .btn-text{
  position: relative;
  z-index: 1;
  color: white;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 36px;
}

#review-button:hover{
    filter: brightness(0.8);
}

#footer {
    height: 500px;
    background-color: #D9D9D9;
}

#foot-separator {
    height: 50px;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot-question {
    display: flex;
    width: 30px;
    height: 30px;
}

.foot-button-space {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.foot-button {
    width: 300px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.foot-button span {
    font-weight: 500;
}

.foot-button  img {
    width:40px;
    height:40px;
}

.foot-button  span {
    color: black;
    width: 100%;
    font-size: 20px;
}

.foot-button .btn {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
}

#phone, #rubles   {
    margin-left: 40px;
}

#foot-email {
    width: 50px;
    height:50px;
    margin-left: 30px;
}

#foot-rooms {
    width: 50px;
    height:50px;
    margin-left: 30px;
}

#foot-booking {
    margin-left: 40px;
    width: 40px;
    height:40px;
}

#foot-reviews {
    margin-left: 35px;
}

#phone-number {
    text-align: center;
}

label {
    color:black;
    margin-left: 5px;
}

input {
    width: 290px;
    margin-bottom: 20px;
    margin-top: 10px;
}


/* Всплывающая форма-скрыта по умолчанию */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 100%;
}

/* Добавить стили для контейнера формы */
.form-container {
font-weight: 500;
  max-width: 350px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
  padding: 20px;
  border-radius: 8px;
}

.form-popup h1 {
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.form-container input[type=text], .form-container input[type=tel], .form-container input[type=date] {
  width: 270px;
  padding: 15px;
  border: none;
  background: #f1f1f1;
    margin-bottom: 10px;
    margin-top: 8px;
}

.form-container input[type=text]:focus, .form-container input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(0,100,20);;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;

    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  background-color: black;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.95;
}
#overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 6;
    display:flex;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    display:none;
}
.css-modal-details {
    display:none;
}

.form-container input[type=radio] {
    width: auto;
    margin: 0;
    margin-right: 10px;
}

fieldset{
    border:none;
    padding: 0;
    margin:0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
fieldset label {
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
}
#overlay-2 {
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    z-index: 6;
    display:flex;
    width:100%;
    height: 100%;
    top: 0;
    left:0;
    display:none;
}
#review-text {
    height: 200px;
}

textarea {
    border-radius: 10px;
    font-size: 15px;
    width:295px;
}
#review-question {
    color:black;
    width: 100%;
    margin-bottom: 10px;
}
form .btn {
    border-radius: 10px;
}

#admin-button {
    border: none;
    display:flex;
    background:none;
}

#admin-btn-container {
    justify-items: center;
}