html {
  scroll-behavior: smooth;
}

body {
    background-color: white;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("photo/main-house.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
}

.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Zen Kaku Gothic New", sans-serif;
}

div, ul, h1, p{
    margin: 0;
}

#hat {
    margin: 0;
    height: 81px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    display: flex;
    background-attachment: fixed;
    position: fixed;
    transition: top 0.3s;
}

#pine {
    margin: 14px 0 0 20px;
    width: 53px;
    height: 53px;
}

#buttons-space {
    margin-left: 20px;
    width: 100%;
    height: 100%;
    gap: 2px;
    display:flex;
}

.button-hat {
    border: none;
    cursor: pointer;
    width: 27%;
    height: 81px;
    color: white;
    background-color: rgba(255, 255, 255, 0.03);
}

.button-hat:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

#contacts{
    width: 25%;
    height: 61px;
    padding-top: 20px;
}

#question {
    width: 37px;
    height: 37px;
    margin-top: 7px;
    display: block;
}

#catalogue {
    width: 33px;
    height: 33px;
    display: flex;
    flex-direction: column;
}

#icons{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

#main-title {
    padding-top:10em;
    text-align: center;
    vertical-align: center;
}

#main-title > h1{
    font-weight: 500;
    font-size:50px;
}

#buttons-space > button {
    font-size: 20px;
}

#main-line {
    width: 35em;
    height: 0.1em;
    background-color: white;
    margin-top:0.2em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40em;
}

#main-photo > .separator {
    background-color: black;
}

.separator {
    width: 100%;
    height: 99px;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 35px;
    border-radius:0 0 50px 50px;
}

.block {
    background-color: white;
    height: 617px;
    position:relative;
}

#slides-main, #slides-room, #slides-feedbacks {
    padding-right: 10px;
    padding-left:10px;
    height: 478px;
    display:flex;
    transition: transform 0.45s ease-in-out;
    will-change: transform;
    width: calc(100% - 230px);
    gap: 120px;
}


.photo img {
    height: 350px;
    width: 512px;
}

.photo {
    width: auto;
    height: 350px;
}

.slide{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-width: 100%;
    gap:24px;
}

.block p {
    color: black;
    max-width: 50%;
    font-size: 30px;
}

.slider {
    display: flex;
    align-items: center; /* центр по высоте */
    width: 100%;
    overflow: hidden;
}

.btn{
    background-color: white;
    border-color: white;
    width:38px;
    height: 64px;
    box:shadow;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-flex; /* или inline-flex */
    vertical-align: center;
}

.btn img {
    width: 30px;
    height: 60px;
}

#prev, #prev-room, #prev-feedbacks {
    transform: scaleX(-1);
    margin-left: 5%;
}

#next, #next-room, #next-feedbacks {

    margin-right: 5%;
}
#prev-feedbacks {
    margin-right:30px;
}
.gaps {
    background-color:rgba(0,0,0,0.2);
}

#map-img {
    height: 500px;
    width: 500px;
}

.block-map {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap:30px;
    padding-left: calc(7.5%);
}

#booking {
    height: 336px;
    background-color:rgba(0,0,0,0.5);
    padding-top: 150px;
    border-radius:0;
}

#book-button  {

    background-color: white;
    width:300px;
    height:100px;
    border-radius: 30px;
    align-items: center;
}

#book-button > p {
    width: 300px;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
}

#book-button>p:hover  {
    color: rgb(0,100,20);
}
#slides-feedbacks {
    padding-right: 10px;
    padding-left:10px;
    height: 478px;
    display:flex;
    transition: transform 0.45s ease-in-out;
    will-change: transform;
    width: calc(100% - 300px);
    gap: 180px;

}

#reviews{
    background-color:white;
    height: 1000px;


}

#feedback-main-separator {
    display:flex;
    background-color:black;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: center;
    font-size: 25px;
    align-items: center;

}

.feedback {
    min-width: 400px;
    max-width: 400px;
    height: 500px;
    background-color: white;
    border-radius:20px;
    gap:100px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    flex: 0 0 calc((100% - 100px) ); /* 3 карточки с учётом gap */

}

.feedback .feedback-photo {
    width:400px;
    min-height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
    display: flex;
    z-index: 0;

}

.feedback-separator {
    background-color:white;
    width:300px;
    height:2px;
    margin-top: 0;
}

.feedback  .name {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;    /* вертикаль */
    justify-content: center;
    text-align: center;
    min-width: 160px;
    min-height: 36px;
    max-height:36px;
    font-weight: 300;




}
.feedback-text > p {
    color: black;
    font-size: 20px;
    min-width: 390px;
    font-weight: 300;
    height:100px;
    margin-left:5px;

}
.feedback-text > p:hover {
    color: #003F0D;
}
.feedback-text{
    padding-top:5px;
    height: 100px;


}

.trapezoid {
    width: 200px;
    height: 40px;
    position:absolute;
    z-index: 0;
    border-top: #003F0D 5px;
}
.feedback-name-space {
    width: 200px;
    height:40px;
    display:flex;
    gap:60px;
    padding-bottom: 5px;
}

.stars {
    margin-top: 5px;
}