<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Турбаза "Тёплый огонёк"</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="hat">
        <img src="../static/icons/pine.png" id="pine">
        <div id="buttons-space">
            <button class="button-hat" onclick="location.href='#rooms'">Номера</button>
            <button class="button-hat" onclick="location.href='#location'">Местоположение</button>
            <button class="button-hat" onclick="location.href='#feedback-main-separator';">Отзывы</button>

            <div id="contacts">
                <ul>
                    <li>8-800-555-35-35</li>
                    <li>notascam@gmail.com</li>
                </ul>
            </div>

        </div>
        <div id="icons">
            <img src="../static/icons/question-mark1.png" id="question">
            <img src="../static/icons/catalogue.png" id="catalogue">
        </div>
    </div>


    <div id="main-title">
        <h1>Турбаза “Тёплый огонёк”</h1>
    </div>


    <div id="main-line"></div>


    <div id="main-photo" class="block">
        <div class="separator">Наши плюсы</div>
        <div class="slider">

        <button class="btn" id="prev"><img src="../static/icons/cursor-right.png"></button>

        <div id="slides-main">

            <div class="slide photo">
            <img src="../static/photo/main-photo-1.jpg">
            <p>Глобальная инфа о базе1
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

            <div class="slide photo">
            <img src="../static/photo/main-house.jpg">
            <p>Глобальная инфа о базе2
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

            <div class="slide photo">
            <img src="../static/photo/main-house.jpg">
            <p>Глобальная инфа о базе3
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

        </div>
        <button class="btn" id="next"><img src="../static/icons/cursor-right.png" ></button>
        </div>
    </div>
    <div id="rooms">
        <div class="separator gaps">
            <p>Номера</p>
        </div>
    </div>
    <div class="block slider">

        <button class="btn" id="prev-room"><img src="../static/icons/cursor-right.png"></button>

        <div id="slides-room">

            <div class="slide photo">
            <img src="../static/photo/main-photo-1.jpg">
            <p>Глобальная инфа о базе1
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

            <div class="slide photo">
            <img src="../static/photo/main-house.jpg">
            <p>Глобальная инфа о базе2
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

            <div class="slide photo">
            <img src="../static/photo/main-house.jpg">
            <p>Глобальная инфа о базе3
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniaaboris nisi ut consequat. </p>
            </div>

        </div>
        <button class="btn" id="next-room"><img src="../static/icons/cursor-right.png" ></button>
        </div>
    <div id="location">
        <div class="separator gaps" id="location-text">Местоположение</div>
        <div class="block block-map">
            <img src="..\static\map\map-location.jpg" id="map-img">
            <p>Турбаза расположена на западном побережье озера Байкал, в живописной бухте у подножия Приморского хребта. Ближайший населенный пункт — поселок Листвянка (15 км). Это идеальная точка для старта путешествий по озеру: до Иркутска — 70 км, а до знаменитого Кругобайкальского пути — всего 20 минут на катере.</p>
        </div>
    </div>
    <div id="booking" class="separator">
        <button id="book-button" class="btn" onclick="openForm()"><p>Забронировать</p></button>
    </div>
<div id="overlay"></div>
<div class="form-popup" id="myForm">

  <form class="form-container" id="myFormIn">

    <h1>Забронировать</h1>

    <label for="name-form"><b>Имя</b></label>
    <input type="text" placeholder="Введите Ваше имя" name="name" required>

    <label for="phone-number-form"><b>Номер телефона</b></label>
    <input type="tel" placeholder="Введите номер телефона" name="phone_number" required>

    <label for="date-arrive"><b>Дата заезда</b></label>
    <input type="date" name="date_arrival" required>

      <label for="date-arrive"><b>Дата выезда</b></label>
    <input type="date" name="date_departure" required>


    <button type="submit" class="btn" onclick="">Оставить заявку</button>
    <button type="button" class="btn cancel" onclick="closeForm();">Закрыть</button>
  </form>
</div>


    <div id="reviews">
        <div id="feedback-main-separator">Отзывы</div>
    <div class="block slider">

        <button class="btn" id="prev-feedbacks"><img src="../static/icons/cursor-right.png"></button>

        <div id="slides-feedbacks">

            <div class="slide">
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>

                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>

                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
            </div>

            <div class="slide">
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
            </div>

            <div class="slide">
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
                <div class="feedback">
                    <img src="../static/photo/feedbacks/1.jpg" class="feedback-photo">
                    <div class="feedback-name-space">
                        <svg width="167" height="33" viewBox="0 0 167 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="trapezoid">
                            <path d="M0 0H167L134 33H0V0Z" fill="#003F0D" ></path> </svg>

                        <p class="name">МАКСИМ</p>
                        <img src="../static/photo/feedbacks/5-stars.png" class="stars">
                    </div>
                        <div class="feedback-separator"></div>
                        <div class="feedback-text">
                        <p>«Цена соответствует качеству. Интерьер — высший пилотаж: кедр, камень и современный дизайн. Вкуснейшая кухня с местными продуктами.»</p>
                        </div>
                </div>
            </div>

        </div>
                <button class="btn" id="next-feedbacks"><img src="../static/icons/cursor-right.png" ></button>
    </div>
    <div id="bottom-separator"></div>
    <button id="review-button" class="btn">
  <img src="../static/photo/main-house.jpg" id="review-btn-photo" alt="">
  <span class="btn-text">Оставить отзыв</span>
</button>

    </div>

    <script src="../static/index.js"></script>
    <div id="footer">
        <div id="foot-separator"><img src="../static/icons/question-mark1.png" id="foot-question"></div>
        <div class="foot-button-space">
            <div class="foot-button">
                    <img src="../static/icons/phone.png" id="phone">
                    <span id="phone-number">8-800-555-35-35</span>
            </div>
            <div class="foot-button">
                <button class="btn" onclick="location.href='https://d.braev@yandex.ru'" type="button">
                    <img src="../static/icons/email.png" id="foot-email">
                    <span>notascam@gmail.com</span>
                </button>
            </div>
            <div class="foot-button">
                <button class="btn" onclick="location.href='#booking'">
                    <img src="../static/icons/ruble.png" id="rubles">
                    <span>Прейскурант</span>
                </button>
            </div>
        </div>
        <div class="foot-button-space">
            <div class="foot-button">
                <button class="btn" onclick="location.href='#rooms'">
                    <img src="../static/icons/rooms.jpg" id="foot-rooms" >
                    <span>Гостевые номера</span>
                </button>
            </div>
            <div class="foot-button">
                <button class="btn" onclick="location.href='#reviews'">
                    <img src="../static/icons/reviews.png" id="foot-reviews">
                    <span>Отзывы</span>
                </button>
            </div>
            <div class="foot-button">
                <button class="btn" onclick="location.href='#booking'">
                    <svg width="36" height="27" viewBox="0 0 36 27" fill="none" xmlns="http://www.w3.org/2000/svg" id="foot-booking">
                    <path d="M35.2991 5.63389C35.2991 6.22913 35.0908 6.73508 34.6741 7.15175L18.5134 23.3125L15.4777 26.3482C15.061 26.7648 14.555 26.9732 13.9598 26.9732C13.3646 26.9732 12.8586 26.7648 12.4419 26.3482L9.40623 23.3125L1.32587 15.2321C0.9092 14.8154 0.700867 14.3095 0.700867 13.7142C0.700867 13.119 0.9092 12.6131 1.32587 12.1964L4.36158 9.16068C4.77825 8.74401 5.2842 8.53568 5.87944 8.53568C6.47468 8.53568 6.98063 8.74401 7.3973 9.16068L13.9598 15.7455L28.6027 1.08032C29.0193 0.663656 29.5253 0.455322 30.1205 0.455322C30.7158 0.455322 31.2217 0.663656 31.6384 1.08032L34.6741 4.11604C35.0908 4.5327 35.2991 5.03866 35.2991 5.63389Z" fill="black"/>
                    </svg>
                    <span>Забронировать</span>
                </button>
            </div>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>